unpackage/
unpackage_dist/
.uni/
.hbuilderx/
uni_modules/.cache/

node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
!.env.example
package-lock.json
yarn.lock
pnpm-lock.yaml
dist/
build/
coverage/
*.tmp
*.temp

.vscode/
*.code-workspace
.idea/
*.iml
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

*.rar
*.zip
*.7z
*.bak
*.swp
*.apk
*.ipa
miniprogram_npm/